body {
  font-family: sans-serif;
}

#about-main {
  width: 48%;
  padding: 36px 0;
  margin-left: 19%;
}
.top-big-text {
  font-size: 67px;
  font-weight: 800;
  margin-bottom: 40px;
}

.top-heading {
  font-size: 36px;
  font-weight: 600;
  padding: 17px 0;
}

main img {
  width: 168%;
  margin-bottom: 30px;
}

#about-main .paragraph p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 12px;
}
#about-main .paragraph p:nth-child(1) {
  font-size: 24px;
}

.resume-button {
  background-color: #6efa9c;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 18px;
  margin-top: 8px;
}

.resume-button a {
  color: #fa6e76;
  text-decoration: none;
  font-size: 18px;
}

.resume-button:hover {
  background-color: #56bd78;
  color: #ff868c;
  text-decoration: underline;
}

/*---------------------------------------------------*/


@media screen and (max-width: 866px) {
  #about-main {
    width: 68%;
  }

  main img {
    width: 112%;
  }
}

@media screen and (max-width: 638px) {
  #about-main {
    width: 82%;
  }

  main img {
    width: 96%;
  }
}

@media screen and (max-width: 325px) {
  #about-main {
    width: 93%;
    margin-left: 5%;
  }

  main img {
    width: 94%;
  }

  .top-big-text {
    font-size: 35px;
  }

  #about-main .paragraph p {
    font-size: 18px;
    width: 94%;
  }
  #about-main .paragraph p:nth-child(1) {
    font-size: 22px;
  }
}
