* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #008ccf;
  --button-color: #006190;
  --card-background: #ffffff;
  --card-font-title: "Lato", sans-serif;
}

/*--NAVBAR--*/
header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: var(--card-background);
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0px 44px;
}

#menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
}

#menu-list li {
  list-style: none;
  font-size: 24px;
}

#menu-list li a {
  color: var(--primary-color);
  text-decoration: none;
}

#menu-list li a:hover {
  color: var(--button-color);
  animation: Sabbir 1s ease-in forwards;
}

@keyframes Sabbir {
  10% {
    text-decoration: underline;
  }
  50% {
    text-decoration: underline;
  }
  100% {
    text-decoration: underline;
  }
}

#menu-list li:visited {
  text-decoration: underline;
}

.left {
  font-size: 28px;
  font-weight: 600;
  color: #008ccf;
}

#menu-list .btn {
  background-color: var(--button-color);
  padding: 10px 26px;
  font-size: 17px;
  border: none;
  color: white;
  font-weight: 700;
}

#menu-list .btn:hover {
  cursor: pointer;
  background-color: #03557e;
}

/*----FOR HOME-----*/

.top-section .text {
  text-align: center;
  padding: 45px 12px;
}

.top-section .text .top-text {
  font-size: 47px;
  font-family: sans-serif;
  font-weight: 600;
  padding-bottom: 18px;
}

.top-section .text .second-text {
  width: 55%;
  margin: auto;
  font-size: 24px;
  font-weight: 400;
  font-family: system-ui;
  line-height: 37px;
}

/*---CARDS---*/
.top-section {
  min-height: 200vh;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
}
.cards .card {
  min-height: 45vh;
  width: 27vw;
  background-color: var(--card-background);
}

.card {
  text-align: center;
  padding: 27px 0;
}

.card img {
  padding-bottom: 16px;
}

.card .card-head {
  font-family: var(--card-font-title);
  font-weight: 500;
  padding-bottom: 8px;
}

.card .card-message {
  font-family: sans-serif;
  font-size: 17px;
  line-height: 1.5rem;
  padding: 0 19px;
}
