* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

:root {
  --primary-color: #008ccf;
  --button-color: #006190;
  --card-background: #f9f7f7;
  --border-bottom-color: #5440e3;
  --card-font-title: "Lato", sans-serif;
}

/*--NAVBAR--*/
header {
  position: sticky;
  top: 0;
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0px 44px;
  width: 100%;

  background-color: white;
}

#menu-list {
  display: flex;
  align-items: center;
  gap: 34px;
}

#menu-list li {
  list-style: none;
  font-size: 24px;
}

#menu-list li a {
  color: var(--primary-color);
  text-decoration: none;
}

#menu-list li a:hover {
  color: var(--button-color);
}

#menu-list li:visited {
  text-decoration: underline;
}

.left {
  font-size: 28px;
  font-weight: 600;
  color: #008ccf;
}

#menu-list .btn {
  background-color: var(--button-color);
  padding: 10px 26px;
  font-size: 21px;
  color: white;
  font-weight: 700;
}

#menu-list .btn:hover {
  cursor: pointer;
  background-color: #03557e;
}

.menu #emoji-button {
  display: none;
}

.menu {
  display: flex;
}
/*----FOR HOME-----*/

.top-section .text {
  text-align: center;
  padding: 45px 12px;
}

.top-section .text .top-text {
  font-size: 47px;
  font-family: sans-serif;
  font-weight: 600;
  padding-bottom: 18px;
}

.top-section .text .second-text {
  width: 55%;
  margin: auto;
  font-size: 24px;
  font-weight: 400;
  font-family: system-ui;
  line-height: 37px;
}

/*CLIENT NOW BUTTON*/
.become_a_client {
  text-align: center;
  padding-bottom: 20px;
}
.become_a_client button {
  background-color: green;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 15px 11px;
}

.become_a_client button a {
  color: white;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
}

.become_a_client button:hover {
  background-color: rgb(17, 96, 17);
  cursor: pointer;
}

/*---CARDS---*/
hr {
  width: 96%;
  margin: auto;
  margin-top: 23px;
  border: 2px solid gray;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
}
.cards .card {
  min-height: 60vh;
  max-width: 70vh;
  width: 27vw;
  background-color: var(--card-background);
}

.card {
  text-align: center;
  padding: 27px 0;
}

.card img {
  padding-bottom: 16px;
}

.card .card-head {
  font-family: var(--card-font-title);
  font-weight: 500;
  padding-bottom: 8px;
}

.card .card-message {
  font-family: sans-serif;
  font-size: 17px;
  line-height: 1.5rem;
  padding: 0 19px;
}

/*----------Image Section----------*/

#Images {
  min-height: 134vh;
  padding: 28px 57px;
  padding-bottom: 2px;
}

#Images .head-text {
  font-size: 47px;
  text-align: center;
  margin-bottom: 28px;
}

/*-----------FIRST IMAGE----------------*/

.first-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 23px;
  grid-template-areas: "contents imges imges";
}

.first-container .card {
  min-height: 27vh;
  width: 30vw;
  background-color: var(--card-background);
}

.first-container .card p {
  text-align: center;
  margin-top: 33px;
  font-size: 45px;
  font-family: sans-serif;
  font-weight: 700;
  color: #f77d52;
  transition: transform 1s ease-in-out;
}

.text-container {
  width: 30vw;
  grid-area: contents;
}

.text-container #first-project-content {
  font-size: 19px;
  font-family: serif;
}

.first-container .first-small-heading {
  padding: 12px;
  font-size: 22px;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #4664fa;
}

.first-container .first-small-heading:hover {
  cursor: pointer;
}

.first-container .ImgBox {
  background-color: var(--card-background);
  grid-area: imges;
  overflow: hidden;
  width: 100%;
}

.first-container .ImgBox img {
  width: 60vw;
  padding: 30px;
  height: 447px;
}

/*-----------SECOND IMAGE----------------*/

.second-conatiner {
  margin-top: 28px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 23px;
  grid-template-areas: "imges imges contents";
}

.second-conatiner .card {
  min-height: 27vh;
  width: 30vw;
  background-color: var(--card-background);
}

.second-conatiner .card p {
  text-align: center;
  margin-top: 33px;
  font-size: 45px;
  font-family: sans-serif;
  font-weight: 700;
  color: #f77d52;
  transition: transform 1s ease-in-out;
}

.text-container {
  width: 30vw;
  grid-area: contents;
}

.text-container #second-project-content {
  font-size: 19px;
  font-family: serif;
}

.second-conatiner .second-small-heading {
  padding: 12px;
  font-size: 22px;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #4664fa;
}

.second-conatiner .second-small-heading:hover {
  cursor: pointer;
}

.second-conatiner .ImgBox {
  background-color: var(--card-background);
  grid-area: imges;
  overflow: hidden;
  width: 100%;
}

.second-conatiner .ImgBox img {
  width: 60vw;
  padding: 30px;
  height: 447px;
}

/*-----------THIRD IMAGE----------------*/

.third-container {
  margin-top: 28px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 23px;
  grid-template-areas: "contents imges imges";
}

.third-container .card {
  min-height: 27vh;
  width: 30vw;
  background-color: var(--card-background);
}

.third-container .card p {
  text-align: center;
  margin-top: 33px;
  font-size: 45px;
  font-family: sans-serif;
  font-weight: 700;
  color: #f77d52;
  transition: transform 1s ease-in-out;
}

.text-container {
  width: 30vw;
  grid-area: contents;
}

.text-container #third-project-content {
  font-size: 19px;
  font-family: serif;
}

.third-container .third-small-heading {
  padding: 12px;
  font-size: 22px;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #4664fa;
}

.third-container .third-small-heading:hover {
  cursor: pointer;
}

.third-container .ImgBox {
  background-color: var(--card-background);
  grid-area: imges;
  overflow: hidden;
  width: 100%;
}

.third-container .ImgBox img {
  width: 60vw;
  padding: 30px;
  height: 447px;
}

.beforeFooter {
  width: 100%;
  border: 5px solid #0938e3;
}

/*---------------FOOTER SECTION-----------------*/

footer {
  min-height: 67vh;
  background-color: black;
}

.footer {
  font-family: sans-serif;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 27px;
  justify-items: center;
  padding-top: 37px;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 23px;
}

/*--------------First-Grid-Section-------------*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 17px;
  margin-bottom: 23px;
}

.footer img {
  width: 10vw;
}

.hire-text a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.hire-text a:hover {
  text-decoration: underline;
  color: #4f329b;
}

.down-the-image {
  padding-left: 20px;
}

.direct-mail {
  padding-top: 16px;
  color: rgb(255, 0, 0);
  font-size: 18px;
  font-weight: 600;
}

/*--------------Second-Grid-Section-------------*/
.media-context {
  margin-bottom: 23px;
}
.media-context p {
  display: inline;
  padding-left: 3px;
}
.media-context p > a {
  color: white;
  text-decoration-color: #008ccf;
}

.media-context p > a:hover {
  text-decoration: none;
}

.media-context article {
  padding-top: 6px;
}

/*--------------Third-Grid-Section-------------*/

.footer-menu-list li {
  list-style: none;
  margin-bottom: 27px;
}

.footer-menu-list li a {
  color: white;
  text-decoration-color: #711def;
}

.footer-menu-list li p {
  margin-top: 7px;
}

.footer-menu-list li a:hover {
  text-decoration: none;
}

/*--------------Copy-Right-Section-------------*/
.copy-right {
  text-align: center;
  color: white;
  padding-bottom: 23px;
}

/*------Media Quyrie-------*/
@media screen and (max-width: 1035px) {
  #menu-list {
    gap: 24px;
  }

  #menu-list li {
    font-size: 19px;
  }

  .left {
    font-size: 24px;
  }

  #menu-list .btn {
    font-size: 18px;
    padding: 8px 22px;
  }

  .top-section .text .top-text {
    font-size: 39px;
  }

  .top-section .text .second-text {
    width: 59%;
    font-size: 20px;
  }

  .cards .card {
    max-height: 69vh;
  }

  .card .card-message {
    font-size: 16px;
    line-height: 1.2rem;
  }

  /*----------second section responsive-----------*/
  #Images {
    padding: 28px 67px;
    padding-bottom: 0;
  }

  /*-----------first image--------*/

  .first-container .card {
    min-height: 29vh;
  }

  .first-container .card p {
    font-size: 38px;
  }

  .text-container #first-project-content {
    font-size: 17px;
  }

  .first-container .first-small-heading {
    font-size: 19px;
  }

  .first-container .ImgBox img {
    width: 55vw;
    padding: 27px;
    margin-top: 13px;
    height: 420px;
  }

  /*-----------second image--------*/

  .second-conatiner .card {
    min-height: 29vh;
  }

  .second-conatiner .card p {
    font-size: 38px;
  }

  .text-container #second-project-content {
    font-size: 17px;
  }

  .second-conatiner .second-small-heading {
    font-size: 19px;
  }

  .second-conatiner .ImgBox img {
    width: 55vw;
    padding: 27px;
    margin-top: 13px;
    height: 420px;
  }

  /*-----------third image--------*/

  .third-container .card {
    min-height: 29vh;
  }

  .third-container .card p {
    font-size: 38px;
  }

  .text-container #third-project-content {
    font-size: 17px;
  }

  .third-container .third-small-heading {
    font-size: 19px;
  }

  .third-container .ImgBox img {
    width: 55vw;
    padding: 27px;
    margin-top: 13px;
    height: 420px;
  }

  /*---------------FOOTER SECTION-----------------*/

  .footer {
    grid-template-columns: repeat(2, 1fr);
    gap: 27px;
  }

  .footer-pages {
    display: none;
  }
}

@media screen and (max-width: 866px) {
  /*------Responsive navbar---------*/
  .menu #emoji-button {
    display: block;
    width: 40px;
    height: 37px;
    border: none;
    background: transparent;
    color: #711def;
    cursor: pointer;
    outline: none;
    font-size: 1.5rem;
    z-index: 2;
  }

  .menu i.fa-times,
  .menu.opened i.fa-bars {
    display: none;
  }

  .menu.opened i.fa-times,
  .menu i.fa-bars {
    display: block;
    animation: enter 0.8s;
  }

  @keyframes enter {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  #menu-list {
    position: fixed;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    background-color: #711def;
    padding: 30px;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 65px;
    transform: translate(100%);
    transition: transform 0.5s;
  }

  #menu-list li a {
    color: white;
  }

  #menu-list li {
    font-size: 28px;
    border-bottom: 0.5px solid lightgray;
    width: 100%;
    height: 40px;
  }

  #menu-list .button-height {
    border: none;
  }

  #menu-list li:hover {
    border-bottom: 3px solid var(--border-bottom-color);
  }

  #menu-list li a:hover {
    color: #b040e3;
  }

  .menu-list li {
    font-size: 1.4rem;
    margin: 24px;
  }

  .menu.opened #menu-list {
    transform: translate(0%);
  }

  .menu.opened #emoji-button {
    color: white;
  }

  /*--------Body Part-------*/
  .cards {
    flex-direction: column;
  }

  .cards .card {
    min-height: 45vh;
    width: 73vw;
  }
  .card .card-head {
    font-size: 34px;
  }

  .card .card-message {
    font-size: 22px;
  }

  .top-section .text .top-text {
    font-size: 37px;
    width: 95%;
    margin: auto;
  }

  .top-section .text .second-text {
    font-size: 19px;
    width: 64%;
  }

  /*------------for second section----------*/

  /*-----------first image--------*/
  .first-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "contents"
      "images";
    align-items: center;
    justify-items: center;
  }

  .first-container .ImgBox {
    grid-area: images;
    margin-top: 18px;
    width: 77vw;
  }

  .text-container {
    width: 75vw;
    grid-area: contents;
  }

  .first-container .card {
    min-height: 29vh;
    width: 75vw;
  }

  .first-container .card p {
    font-size: 55px;
  }

  .text-container #first-project-content {
    font-size: 20px;
  }

  .first-container .first-small-heading {
    font-size: 23px;
  }

  .first-container .ImgBox img {
    width: 75vw;
    padding: 27px;
    margin-top: 0;
    height: 420px;
  }

  /*-----------second image--------*/
  .second-conatiner {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "contents"
      "images";
    align-items: center;
    justify-items: center;
  }

  .second-conatiner .ImgBox {
    grid-area: images;
    margin-top: 18px;
    width: 77vw;
  }

  .text-container {
    width: 75vw;
    grid-area: contents;
  }

  .second-conatiner .card {
    min-height: 29vh;
    width: 75vw;
  }

  .second-conatiner .card p {
    font-size: 55px;
  }

  .text-container #second-project-content {
    font-size: 20px;
  }

  .second-conatiner .second-small-heading {
    font-size: 23px;
  }

  .second-conatiner .ImgBox img {
    width: 75vw;
    padding: 27px;
    margin-top: 0;
    height: 420px;
  }

  /*-----------Third image--------*/
  .third-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "contents"
      "images";
    align-items: center;
    justify-items: center;
  }

  .third-container .ImgBox {
    grid-area: images;
    margin-top: 18px;
    width: 77vw;
  }

  .text-container {
    width: 75vw;
    grid-area: contents;
  }

  .third-container .card {
    min-height: 29vh;
    width: 75vw;
  }

  .third-container .card p {
    font-size: 55px;
  }

  .text-container #third-project-content {
    font-size: 20px;
  }

  .third-container .third-small-heading {
    font-size: 23px;
  }

  .third-container .ImgBox img {
    width: 75vw;
    padding: 27px;
    margin-top: 0;
    height: 420px;
  }

  /*---------------FOOTER SECTION-----------------*/

  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 37px;
    padding: 50px 80px;
    width: 86vw;
    margin: auto;
  }
}

/*--------For Mobile--------*/
@media screen and (max-width: 638px) {
  #menu-list {
    width: 75%;
  }

  .left {
    font-size: 23px;
  }

  .menu #emoji-button {
    font-size: 1.3rem;
  }

  /*----------Top Section--------------*/
  .top-section .text .top-text {
    font-size: 24px;
  }

  .top-section .text .second-text {
    width: 85%;
    font-size: 17px;
    line-height: 27px;
  }

  .card .card-head {
    font-size: 28px;
  }

  .card .card-message {
    font-size: 18px;
  }

  #menu-list li {
    font-size: 24px;
    height: 36px;
  }

  /*------------for second section----------*/
  #Images {
    padding: 4px 9px;
  }

  #Images .head-text {
    font-size: 37px;
    margin-bottom: 30px;
  }
  /*-----------first image--------*/

  .first-container .ImgBox {
    margin-top: 18px;
    width: 93vw;
    margin: auto;
  }

  .text-container {
    width: 91vw;
  }

  .first-container .card {
    min-height: 13vh;
    min-width: 87vw;
  }

  .first-container .card p {
    font-size: 40px;
    margin: 6px;
    padding: 0;
  }

  .text-container #first-project-content {
    font-size: 18px;
  }

  .first-container .first-small-heading {
    font-size: 20px;
  }

  .first-container .ImgBox img {
    width: 94vw;
    height: 224px;
    padding: 8px;
    margin: auto;
  }

  /*-----------second image--------*/

  .second-conatiner .ImgBox {
    margin-top: 18px;
    width: 93vw;
    margin: auto;
  }

  .text-container {
    width: 91vw;
  }

  .second-conatiner .card {
    min-height: 13vh;
    min-width: 87vw;
  }

  .second-conatiner .card p {
    font-size: 40px;
    margin: 6px;
    padding: 0;
  }

  .text-container #second-project-content {
    font-size: 18px;
  }

  .second-conatiner .second-small-heading {
    font-size: 20px;
  }

  .second-conatiner .ImgBox img {
    width: 94vw;
    height: 224px;
    padding: 8px;
    margin: auto;
  }

  /*-----------Third image--------*/

  .third-container .ImgBox {
    margin-top: 18px;
    width: 93vw;
    margin: auto;
  }

  .text-container {
    width: 91vw;
  }

  .third-container .card {
    min-height: 13vh;
    min-width: 87vw;
  }

  .third-container .card p {
    font-size: 40px;
    margin: 6px;
    padding: 0;
  }

  .text-container #third-project-content {
    font-size: 18px;
  }

  .third-container .third-small-heading {
    font-size: 20px;
  }

  .third-container .ImgBox img {
    width: 94vw;
    height: 224px;
    padding: 8px;
    margin: auto;
  }

  /*---------------FOOTER SECTION-----------------*/
  .footer {
    padding: 50px 20px;
    width: 90vw;
    margin: auto;
  }

  .flex .footer-text-message {
    font-size: 14px;
  }

  .flex img {
    width: 26vw;
  }

  .flex {
    column-gap: 28px;
  }

  .down-the-image .footer-head {
    font-size: 25px;
  }

  .down-the-image .hire-text {
    font-size: 15px;
    margin-top: 12px;
  }

  .copy-right {
    margin-top: -30px;
  }
}

/*--------For Smallest Mobile Device--------*/

@media screen and (max-width: 325px) {
  #navbar {
    padding: 0px 9px;
  }
  #menu-list {
    width: 65%;
  }

  .left {
    font-size: 18px;
  }

  .menu #emoji-button {
    font-size: 1.2rem;
    padding-left: 27px;
  }

  .top-section .text {
    text-align: center;
    padding: 19px 8px;
  }

  .top-section .text .top-text {
    font-size: 22px;
  }

  .top-section .text .second-text {
    width: 85%;
    font-size: 16px;
    line-height: 25px;
  }

  .card .card-head {
    font-size: 24px;
  }

  .card .card-message {
    font-size: 16px;
  }

  #menu-list li {
    font-size: 20px;
    height: 30px;
  }

  /*------------for second section----------*/
  #Images {
    padding: 4px 9px;
  }

  #Images .head-text {
    font-size: 37px;
    margin-bottom: 30px;
  }
  /*-----------first image--------*/

  .first-container .ImgBox {
    margin-top: 18px;
    width: 93vw;
    margin: auto;
  }

  .text-container {
    width: 91vw;
  }

  .first-container .card {
    min-height: 25vh;
    min-width: 87vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .first-container .card p {
    font-size: 32px;
  }

  .text-container #first-project-content {
    font-size: 18px;
  }

  .first-container .first-small-heading {
    font-size: 20px;
  }

  .first-container .ImgBox img {
    width: 94vw;
    height: 224px;
    padding: 8px;
    margin: auto;
  }

  /*-----------second image--------*/

  .second-conatiner .ImgBox {
    margin-top: 18px;
    width: 93vw;
    margin: auto;
  }

  .text-container {
    width: 91vw;
  }

  .second-conatiner .card {
    min-height: 25vh;
    min-width: 87vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .second-conatiner .card p {
    font-size: 32px;
  }

  .text-container #second-project-content {
    font-size: 18px;
  }

  .second-conatiner .second-small-heading {
    font-size: 20px;
  }

  .second-conatiner .ImgBox img {
    width: 94vw;
    height: 224px;
    padding: 8px;
    margin: auto;
  }

  /*-----------Third image--------*/

  .third-container .ImgBox {
    margin-top: 18px;
    width: 93vw;
    margin: auto;
  }

  .text-container {
    width: 91vw;
  }

  .third-container .card {
    min-height: 25vh;
    min-width: 87vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .third-container .card p {
    font-size: 32px;
  }

  .text-container #third-project-content {
    font-size: 18px;
  }

  .third-container .third-small-heading {
    font-size: 20px;
  }

  .third-container .ImgBox img {
    width: 94vw;
    height: 224px;
    padding: 8px;
    margin: auto;
  }

  /*---------------FOOTER SECTION-----------------*/
  .footer {
    padding: 40px 0px;
    width: 90vw;
    margin: auto;
  }

  .flex .footer-text-message {
    font-size: 12px;
  }

  .direct-mail {
    font-size: 14px;
  }

  .flex img {
    width: 26vw;
  }

  .down-the-image .footer-head {
    font-size: 23px;
  }

  .down-the-image .hire-text {
    font-size: 14px;
    margin-top: 12px;
  }

  .copy-right {
    margin-top: -30px;
  }
}

/*--------For Bigger Mobile Device--------*/

@media screen and (min-width: 1667px) {
  .left {
    font-size: 60px;
  }

  .top-section .text .top-text {
    font-size: 55px;
  }

  .top-section .text .second-text {
    width: 85%;
    font-size: 30px;
    line-height: 27px;
  }

  .card .card-head {
    font-size: 40px;
  }

  .card .card-message {
    font-size: 27px;
  }

  #menu-list li {
    font-size: 40px;
  }

  .cards .card {
    width: 131vw;
  }
}
